@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria: #fdd85d;
    --cor-secundaria: #6798c0;
    --cor-terciaria: #333533;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
}

.cabecalho__menu__link{
    font-family: var(--fonte-primaria);
    font-size: 20px;
    font-weight: 600;
    color: var(--cor-secundaria);
    text-decoration: none;
}

.cabecalho{
    padding-top: 2%;
    padding-right: 5%;
    padding-bottom: 2%;
    padding-left: 5%;
    display: flex;
    justify-content: flex-end;
    background-color: var(--cor-primaria)
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
}

.conteudo__formularios{
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 10% 0 10% 0%;
    flex-direction: row-reverse;
    font-family: var(--fonte-secundaria);
}

.btn__cadastrar{
    font-size: 15px;
    font-weight: 600;
    background-color:var(--cor-primaria);
    color: var(--cor-secundaria);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    padding: 13px;
    transition: .2s;
}

form div{
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
}

form input, form textarea{
    padding: 20px;
    min-width: 300px;
    border: 1px solid var(--cor-secundaria);
    border-radius: 20px;
}

form label{
    margin-left: 20px;
}

table, th, td{
    border: 1px dotted var(--cor-secundaria);
    border-collapse: collapse;
    padding: 5px 2px 5px 5px;
}

table{
    width: 50%;
    text-align: center;
}

th{
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.rodape{
    padding: 40px;
    color: var(--cor-primaria);
    background-color:var(--cor-primaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    gap: 0;
}
